/drivers/
/vendor/
/node_modules/
/composer.lock
/var/

/etc/build/*
!/etc/build/.gitkeep

/tests/Application/yarn.lock
/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local

/.phpunit.result.cache
/behat.yml
/phpstan.neon
/.configurator/phpunit.xml
.phpunit.result.cache

# Symfony CLI https://symfony.com/doc/current/setup/symfony_server.html#different-php-settings-per-project
/.php-version
/php.ini
