/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/behat.yml.dist export-ignore
/bin export-ignore
/docs export-ignore
/ecs.php export-ignore
/etc export-ignore
/features export-ignore
/node_modules export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/tests/Application export-ignore
