{% set publishable_key_form = hookable_metadata.context.form.gatewayConfig.config.publishable_key %}
{% set secret_key_form = hookable_metadata.context.form.gatewayConfig.config.secret_key %}

<div class="col-12 col-md-6">
    {{ form_row(publishable_key_form, sylius_test_form_attribute('config-publishable-key')) }}
    {{ form_row(secret_key_form, sylius_test_form_attribute('config-secret-key')) }}
</div>
