<div class="col-12 col-md-6 mt-4-md-field">
    <div class="alert alert-warning" {{ sylius_test_html_attribute('payment-method-types-info') }}>
        <div class="d-flex align-items-start">
            <div class="me-2">{{ ux_icon('tabler:alert-triangle', {'class': 'icon alert-icon text-warning'}) }}</div>
            <div>
                <p class="fw-bold">
                    {{ 'flux_se_sylius_stripe_plugin.form.gateway_configuration.stripe.info.payment_method_types_deprecated'|trans }}
                </p>
                <p class="mb-0">
                    <a class="fw-bold text-decoration-none" href="https://dashboard.stripe.com/settings/payment_methods" target="_blank" rel="noopener noreferrer">
                        {{ 'flux_se_sylius_stripe_plugin.form.gateway_configuration.stripe.action.manage_payment_methods'|trans }}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
