{% set form = hookable_metadata.context.form.gatewayConfig.config.secret_key %}

<div class="col-12 col-md-6">
    {{ form_row(form, sylius_test_form_attribute('config-secret-key')) }}
</div>
<div class="col-12 alert alert-info">
    <div class="d-flex align-items-center">
        <div>{{ ux_icon('tabler:info-circle', {'class': 'icon alert-icon'}) }}</div>
        <div>
            <p>
                {{ 'flux_se_sylius_stripe_plugin.form.gateway_configuration.stripe.info.secret_key'|trans }}
            </p>
            <p>
                <a href="https://dashboard.stripe.com/apikeys" target="_blank" rel="noopener noreferrer">
                    {{ 'flux_se_sylius_stripe_plugin.form.gateway_configuration.stripe.action.secret_key'|trans }}
                </a>
            </p>
        </div>
    </div>
</div>
