$md-breakpoint: 992px;

.mt-4-md-field {
    margin-top: 1.5rem;
}

@media (min-width: $md-breakpoint) {
    .mt-md-field {
        margin-top: 1.75rem;
    }

    .mt-4-md-field {
        margin-top: 3.25rem;
    }
}
