services:
    flux_se.sylius_stripe.provider.refund.checkout_session_payment:
        class: FluxSE\SyliusStripePlugin\Provider\Refund\RefundPaymentProvider
    flux_se.sylius_stripe.provider.refund.checkout_session_subscription_init:
        class: FluxSE\SyliusStripePlugin\Provider\Refund\RefundSubscriptionInitProvider
